* {
    margin: 0 0 5px 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ,sans-serif;
}

body {
    display: flex;   
    min-height: 100vh;
    background: #111620;
    margin: 5px 5px 0px 5px;
}

.hattervideo img{
    width: 100%;
    height: auto;
}

.gallelry {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 5% auto 0;
}

.image-box {
    margin: 0 1%;
    flex-grow: 1;
    flex-basis: 0;
    transition: 0.5s;
}

.image-box img {
    width: 100%;
    height: 355px;
    object-fit: cover;
    transition: 0.5s;
}

.image-box:hover {
    flex-basis: 35%;
}

.gallelry .active {
    flex-basis: 35%;
}

.gallelry:hover .active {
    flex-basis: 0;
}

.gallelry .image-box:nth-child(1):hover {
    flex-basis: 35%;
}

.oldalsav {
    position: relative;
    padding: 15px;
    background: linear-gradient(45deg,#EA4956, #111620); 
    margin-right: 5px;
    animation: color 12s ease-in-out infinite;
    width: 160px;
}

@keyframes color{
    0% {background-position: 0 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0 50%;}
}

.cimsor {
    color:#EA4956;
    text-align: center;
}

.container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.container .box {
    position: relative;
    width: 200px;
    height: 200px;
    background: #323232;
    display: flex;
   
}

.container .box .content {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.box .content img {
    width: 100%;
}

.hattervideo {
    margin-top: 0px;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.container .box .content .text {
    color:#EA4956 ;
}

.palyaszoveg {
    color:#EA4956 ;
    text-align: center;
    margin-top: 10px;
    line-height: 1.3;
    border: #EA4956 solid 1px;
    border-radius: 5px;
}

h4{
    margin-bottom: 15px;
}